
.trabajo {
    margin-left: 43%;
    border-left: 3px solid #1c49c4;
    width: 15%;
}

.estudios {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
}

#item{
    border-left: 3px solid #1c49c4;
    padding-left: 8px;
    min-width: 120px;
    flex: 1 1 calc(20% - 20px);
}

.menu{
    display: block;
}
